.logo {
    width: 34%;
    padding: .5%;
}

.title {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    background-color: #02021A;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url(../images/backforhub.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.content {
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.character {
    display: flex;
    padding: 2% 2% 2% 2%;
    width: 20%;
}

.back__text__hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.img {
    width: 100%;
}

.back__text__hover .img {
    transform: translatez(0);
    display: block;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.back__text__hover:hover .img {
    transform: translatez(0);
    display: block;
    transform: scale(1.2);
}

.text__hover {
    -webkit-animation: img__opacity 0.5s;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;
    animation-fill-mode: forwards;
}

.back__text__hover:hover .text__hover {
    /*Фикситпотерюкачестваприуменьшении*/
    transform: translatez(0);
    display: block;
    background-color: rgba(2, 2, 26, 0.5);
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
}

.name__char {
    padding-top: 15%;
    display: flex;
    justify-content: center;
}

.text__hover {
    -webkit-animation: text__dec 0.5s;
    font-family: 'Crimson Pro', serif;
    color: #ec5659;
    font-size: 1.3vw;
    text-align: center;
}

.short__info {
    -webkit-animation: text__dec 0.5s;
    padding-top: 25%;
    font-family: 'Crimson Pro', serif;
    color: #e4e4e4;
    font-size: 1vw;
    text-align: center;
}

.text {
    padding: 13% 0% 15% 0%;
}

.dot {
    font-size: 1.3vw;
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 450px) {
    .logo {
        width: 90%;
    }
    .content {
        width: 100%;
    }
    .character {
        width: 50%;
    }
    .up__case {
        width: 100%;
        height: auto;
    }
    .down__case {
        width: 100%;
        height: auto;
    }
    .main {
        background-size: auto auto;
    }
}

@-webkit-keyframes text__dec {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes img__opacity {
    0% {
        padding: 0;
        background-color: rgba(2, 2, 26, 0);
    }
    100% {
        padding: 0;
        background-color: rgba(2, 2, 26, 0.5);
    }
}

.footer {
    width: 100%;
    height: auto;
    background-color: #02021A;
    display: flex;
    justify-content: center;
}

.footer__door {
    width: 10%;
    margin: auto 0;
    padding: 1%;
}

.hub__door {
    width: 100%;
}

@media only screen and (max-width: 1440px) {
    .logo{
        width: 44%;
    }
    .content{
        width: 85%;
    }
    .main{
        background-size: 120% auto;
    }
    .footer__door{
        width: 15%;
    }
    .name__char{
        font-size: 2vw;
    }
    .short__info{
        font-size: 1.7vw;
    }
    .dot{
        font-size: 1.9vw;
    }
}
@media only screen and (max-width: 768px) {
    .main{
        background-image: none;
    }
    .logo {
        width: 100%;
    }
    .character{
        width: 50%;
    }
    .char__block{
        width: 100%;
    }
    .footer__door{
        width: 30%;
    }
    .name__char{
        font-size: 5vw;
    }
    .short__info{
        font-size: 3.7vw;
    }
    .dot{
        font-size: 4.7vw;
    }
}
